# Flask Settings
FLASK_APP=run.py
FLASK_ENV=dev
SECRET_KEY=yoursecretkeyhere

# Database URL (PostgreSQL/Neon)
DATABASE_URL=ep-divine-block-ahq6kb8a-pooler.c-3.us-east-1.aws.neon.tech

# Google Gemini AI API Key
GEMINI_API_KEY=your_gemini_api_key_here
